body {
    font-family: Arial, sans-serif;
    background-color: #e6e6e6;
    margin: 0;
}

.container {
    width: 80%;
    margin: 2.5rem auto;
}

h1 {
    font-size: 2.5rem;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.25rem;
}

.top-bar input {
    padding: 0.5rem 0.875rem;
    border-radius: 1.25rem;
    border: 0.0625rem solid #999;
    width: 12.5rem;
}

.add-btn {
    background-color: #2e8b3c;
    color: white;
    border: none;
    padding: 0.625rem 1.375rem;
    border-radius: 0.5rem;
    cursor: default;
    font-weight: bold;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: white;
}

th,
td {
    padding: 0.75rem;
    border-bottom: 0.0625rem solid #ccc;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.action-btn {
    border: none;
    padding: 0.375rem 0.75rem;
    border-radius: 0.375rem;
    color: white;
    cursor: pointer;
    margin-right: 0.3125rem;
}

.edit-btn {
    background-color: #3498db;
}

.remove-btn {
    background-color: #c0392b;
}

.modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    padding: 1.5rem;
    border-radius: 0.75rem;
    width: 20rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.modal input,
.modal select {
    padding: 0.5rem;
}

.modal-actions {
    display: flex;
    justify-content: space-between;
}

.saveUser {
    background: #2e8b3c;
    color: white;
}

.closeModal {
    background: rgb(52, 105, 165);
    color: white;
}

.small1 {
    color: #c0392b;
    display: block;
    font-size: small;
}

.small2 {
    color: #c0392b;
    display: block;
    font-size: small;
}

.page-loader {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    border: 4px solid #e0e0e0;
    border-top: 4px solid #007bff;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    animation: spin 0.9s linear infinite;
    z-index: 9999;
    display: none;
}

@keyframes spin {
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.userModal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
}

.modalContent {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
}

.modalContent input,
.modalContent select {
    width: 100%;
    margin-bottom: 10px;
    padding: 6px;
}

.updateUserBtn {
    background: rgb(48, 150, 48);
    color: #e0e0e0;
}